src/*.exe
src/monocle
src/monocled
src/test_monocle
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.monocle

# Compilation and Qt preprocessor part
*.qm
Makefile
monocle-qt
Monocle.app

# Unit-tests
Makefile.test
monocle-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build
Monocle-Qt.xcodeproj

!src/leveldb*/Makefile
